@using Articulos.ViewModels;
@model ArticulosViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Articulo">
        <div class="input-group"> 
            <span class="input-group-text" id="basic-addon3">Buscador por prenda</span>
            <input class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" asp-for="DescripcionFilter">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>                
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].IsPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulos[0].Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Articulos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
